<p><%= link_to "Retour à la liste", {:action => "index"} -%></p>

<div class="spacer">&nbsp;</div>

<%= render :partial => 'tapis' -%>
<%= render :partial => 'possible_sets' -%>
<%= render :partial => 'selected_cards' -%>

<%= javascript_tag "
  var selected_cards = [];
  var possible_sets = #{@game.get_sets.inspect};
  var etendu = #{@game.etendu};" -%>

